<ion-header class="title">RES-Q</ion-header>
<ion-content class="bg">

  <div *ngIf="hideFront">
    <div class="front" text-center>
      <img src="assets/753224_hospital_512x512.png">
    </div>
    <div class="buttons" text-center>
      <button (click)="toggleFront()" (click)="toggleSignUp()" ion-button color="secondary" round>Sign up</button>
      <button (click)="toggleFront()" (click)="toggleSignIn()" ion-button round>Log in</button>
    </div>

    <h1 class="slogan">Find people. Save lives.</h1>
  </div>

  <!--  Sign up -->
  <div *ngIf="showSignUp" text-center>
    <ion-list>

      <ion-item class="form">
        <ion-label class="input" floating>E-mail</ion-label>
        <ion-input name="email" type="text" [(ngModel)]="loginForm.username"></ion-input>
      </ion-item>

      <ion-item class="form">
        <ion-label class="input" floating>Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="loginForm.password"></ion-input>
      </ion-item>

      <button class="buttons2" (click)="toggleFront()" (click)="toggleSignUp()"  ion-button color="danger" round>Back</button>
      <button class="buttons2" ion-button (click)="onSignUp()" round>Submit</button>

    </ion-list>
  </div>

  <!-- Log in -->
  <div *ngIf="showLogIn" text-center>
    <ion-list>

      <ion-item class="form">
        <ion-label class="input" floating>E-mail</ion-label>
        <ion-input type="text" [(ngModel)]="loginForm.username"></ion-input>
      </ion-item>

      <ion-item class="form">
        <ion-label class="input" floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="loginForm.password"></ion-input>
      </ion-item>


      <button class="buttons3" (click)="toggleFront()" (click)="toggleSignIn()" ion-button color="danger" round>Back</button>
      <button class="buttons3" ion-button round (click)="onSignIn()">Log in</button>
    </ion-list>
  </div>
</ion-content>
