page-about {


  video {
        position: fixed;
        top: 50%;
        left: 50%;
        // min-width: 25%;
        // min-height: 25%;
        width: 330%;
        height: 330%;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }

    .title {
      font-size: 8em;
      font-weight: bold;
      text-align: center;
      top: .2em;
      position: absolute;
      opacity: 0.75;
      color: white;
    }

    .buttons {
      opacity: 0.75;
      margin-top: 40%;
      text-align: center;
    }
    .buttons2 {
      opacity: 0.75;
      margin-top: 23%;
      text-align: center;
    }
    .buttons3 {
      opacity: 0.75;
      margin-top: 59%;
      text-align: center;
    }

    .front {
      opacity: 0.55;
      margin-top: 20%;

    }

    .slogan {
      text-align: center;
      color: white;
      opacity: 0.75;
    }

    .form {
      background-color: transparent;
      padding-left: 2em;
      padding-right: 2em;
    }

    .formDiv {
      top: 5em;
    }

    .input {
      color: white;
      opacity: .80;
      text-align: left;
    }
}
