page-about {

    .bg {
      background-size: 300%;
      background-color: #FBCEB1;
    }

    .title {
      font-size: 8em;
      font-weight: bold;
      text-align: center;
      top: .2em;
      position: absolute;
      opacity: 0.75;
      color: white;
    }

    .buttons {
      opacity: 0.75;
      margin-top: 15%;
      text-align: center;
    }
    .buttons2 {
      opacity: 0.75;
      margin-top: 59%;
      text-align: center;
    }
    .buttons3 {
      opacity: 0.75;
      margin-top: 59%;
      text-align: center;
    }

    .front {
      opacity: 0.75;
      width: 74%;
      height: 74%;
      margin-top: 5%;

    }

    .slogan {
      text-align: center;
      color: white;
      opacity: 0.75;
    }

    .form {
      background-color: transparent;
      padding-left: 2em;
      padding-right: 2em;
    }

    .formDiv {
      top: 5em;
    }

    .input {
      color: white;
      opacity: .80;
      text-align: left;
    }

}
