<ion-header>
  <ion-navbar>
    <ion-title>ShellHacks 2017</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
    <agm-map [latitude]="ucflat" [longitude]="ucflng" 
             [gestureHandling]='greedy' [zoomControl]="false" 
             [streetViewControl]="false" (mapClick)="setRegister($event)" 
             (centerChange)="centerChange($event)">

    <agm-info-window #register [latitude]="ucflat" [longitude]="ucflng">
        
    </agm-info-window> 

    <agm-marker *ngFor="let mp of missings" [latitude]="mp.Lat" [longitude]="mp.Lng" 
                 [iconUrl]="mp.Missing? icon : savedIcon">

      <agm-info-window
                  style="max-height: 5px; overflow-y: auto;">
        <h5 style="color: #E0263B; text-align: center;">Missing Person</h5>
        <ion-item class="ionItemInfo">
          <ion-label class="ionLabelInfo" stacked>Name: {{mp.Name}}</ion-label>
        </ion-item>

        <ion-item class="ionItemInfo">
          <ion-label class="ionLabelInfo" stacked>Age: {{mp.Age}}</ion-label>
        </ion-item>

        <ion-item class="ionItemInfo">
          <ion-label class="ionLabelInfo" stacked>Gender: {{mp.Gender}}</ion-label>
        </ion-item>

        <ion-item *ngIf="mp.Url" class="ionItemInfo">
          <img src=[mp.Url]>
          <!-- <ion-label class="ionLabelInfo" stacked>Url: {{mp.Url}}</ion-label> -->
        </ion-item>

        <ion-item class="ionItemInfo">
          <ion-label class="ionLabelInfo" stacked>Latitude: {{mp.Lat}}</ion-label>
        </ion-item>

        <ion-item class="ionItemInfo">
          <ion-label class="ionLabelInfo" stacked>Longitude: {{mp.Lng}}</ion-label>
        </ion-item>

        <button ion-button [round]="true"  style="background-color: rgb(219, 66, 83);
              margin: auto; transition: none; margin-top: 3%; width: 30%; margin-left: 40%"
              (click)="updateStatus(mp)">
          RES-Q!
        </button>        

      </agm-info-window>

    </agm-marker>
      
    </agm-map>



    <div *ngIf="showModal" class="registerPopUp" >
      <div class="form-group">
        <h5 style="color: #FFFFFF; text-align: center;">Missing Person</h5>
        <ion-item class="ionItem">
        <ion-label class="ionLabel" floating>Name:</ion-label>
        <ion-input require type="text" style="color: #FFFFFF" [(ngModel)]="missingForm.Name"></ion-input>
        </ion-item>
        <ion-item class="ionItem">
        <ion-label class="ionLabel" floating>Age:</ion-label>
        <ion-input require type="text" style="color: #FFFFFF" [(ngModel)]="missingForm.Age"></ion-input>
        </ion-item >
        <ion-item class="ionItem">
        <ion-label class="ionLabel" floating>Gender:</ion-label>
        <ion-input require type="text" style="color: #FFFFFF" [(ngModel)]="missingForm.Gender"></ion-input>
        </ion-item>
        <ion-item class="ionItem">
        <ion-label class="ionLabel" floating>Url:</ion-label>
        <ion-input require type="text" style="color: #FFFFFF" [(ngModel)]="missingForm.Url"></ion-input>
        </ion-item>
      </div>

      <div class="gallery-button" text-center (click)="openGallery()">
        <img *ngIf="imageSrc" [src]="imageSrc" 
          style="size: 50%; border: 1px solid #68696A; border-radius: 20px;" />    
        <p>Choose a Photo</p>  
      </div>
      <button *ngIf="imageSrc" ion-button icon-only (click)="uploadPhoto()">
        <ion-icon name="md-attach"></ion-icon>
      </button>
      <button ion-button [color]="blue" [round]="true" (click)="setMarker()" >
        Register
      </button>
      <button ion-button [color]="red" [round]="true" 
              (click)="showModal=false" style="background-color: #DB4253;">
        Cancel
      </button>

    </div>

    <div *ngIf="showModalUpdate" class="registerPopUp" >

      <div class="form-group">
        <h5 style="color: #FFFFFF; text-align: center;">Update Status</h5>
        <ion-label class="ionLabel" floating style="font-size: 18px;">Name: {{selected.Name}}</ion-label>
        <ion-item class="ionItem">
          <ion-label class="ionLabel" floating>Url:</ion-label>
          <ion-input require type="text" style="color: #FFFFFF" [(ngModel)]="selected.Url"></ion-input>
        </ion-item>
      </div>

      <button *ngIf="imageSrc" ion-button icon-only (click)="uploadPhoto()">
        <ion-icon name="md-attach"></ion-icon>
      </button>
      <button ion-button [color]="blue" [round]="true" (click)="setMarker()" >
        Register
      </button>
      <button ion-button [color]="red" [round]="true" 
              (click)="showModalUpdate=false" style="background-color: #DB4253;">
        Cancel
      </button>

    </div>

    <button ion-button class="localizacion" [round]="true" (click)="getLocalization()">
        <span class="glyphicon glyphicon-screenshot" style="font-size: 20px;"aria-hidden="true"></span>
    </button>

</ion-content>
