<ion-header>
  <ion-navbar>
    <ion-title>ShellHacks 2017</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    


    <agm-map [latitude]="ucflat" [longitude]="ucflng" 
             [gestureHandling]='greedy' [zoomControl]="false" 
             [streetViewControl]="false" (mapClick)="setRegister($event)">

    <agm-info-window #register [latitude]="ucflat" [longitude]="ucflng">
        
    </agm-info-window> 

    <agm-marker *ngFor="let mp of missings" [latitude]="mp.lat" [longitude]="mp.lng" 
                (markerClick)="open(mp)" [iconUrl]="icon">
      <agm-info-window #window [latitude]="ucflat" [longitude]="ucflng">
        I miss you
      </agm-info-window>
    </agm-marker>
      
    </agm-map>

    <div *ngIf="showModal" class="registerPopUp" >

      <div class="form-group">
        <label class="label-control">Name:</label>
        <input class="form-control" type="text">
        <label class="label-control">Date of Birth:</label>
        <input class="form-control" type="date">
        <label class="label-control">Gender:</label>
        <input class="form-control" type="text">
      </div>

      <button ion-button [color]="blue" [round]="true" (click)="setMarker()">
        Register
      </button>

    </div>


</ion-content>
